*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px,0;

}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.4) 0%, rgba(156, 53, 127, 0.4) 100%), url(/rovla10/imagenes/radowan-nakif-rehan-cYyqhdbJ9TI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contenedor-header{
    text-align: center;
    padding: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
}

.contenedor-header img{
    display: flex;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 70px;
    justify-content: start;

}

.icono{
    position:fixed;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:0,0,6px rgb(0, 0,0, 0,5);
}

.menu-nav{
    position:fixed;
    top: 0px;
    right: 0px;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform.3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0,0,6px rgb(0, 0, 0, rgba(0, 0, 0, 0.5));

}

.spread{
    transform:translate(0);
}

.menu-nav a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}
.copy{
    font-weight: 300;
    font-size: 25px;
}

/* nuestro servicio */

.subtitulos{
    text-align: center;
    font-weight: 550;
    font-size: 45px;
    color: #9f8ad0;
    margin-bottom: 40px;
    
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.contenedor-servicio img{
    width: 40%;
}

.web-servicio{
    width:45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 30px;
    height: 30px;
    color:#fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/* nosotros */
.contenedor-nosotros{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;   
}

.card{
    display: block;
    width: 350px;
    margin: 5px auto;
    padding: 14px auto;
    
    }

.ronald{
    display: flex;
    width: 250px;
    height: 250px;
    margin: 30px auto;
    border-radius: 300px;
}

.nombre{
    display: block;
    text-align: center;
    font-family: Arial;
}

.enlace{
display: block;
background:#9f8ad0;
width: 90px;
padding: 20px auto;
text-decoration: none;
text-align: center;
color: white;
margin:20px auto;
border-radius: 4px;
}

.contenedor-nosotros{
    width: 98%;
}

.perfil{
    width:60%;
    margin-bottom: 50px;
    
}
.nosotros{
    margin-bottom: 20px;
}

/* expertos */

.expert{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
    
}

.cont-expert img{
    width: 90%;
    display: block;
    margin:0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/* footer */

footer{
    background: #9f8ad0;
    padding: 0.1px;
}

.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color: #fff;
}


.Rovla10{
    font-weight: 500;
    font-size: 40px;
    margin: 0 0 0 90px;
}

.rovla10{
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 0 40px;
}

.agency{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 30px;
    width: 60px;
    height:60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color:#9f8ad0;
    background: #fff;
}


.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}

.social-media-icon i{
     font-size: 30px;
     line-height: 60px;

}
.line{
    width: 1200px;
    max-width: 1500px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 30px;
}
.contactanos{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

@media screen and (max-width:800px){
    .menu-nav{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;
    }
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    .web-servicio{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    .cont-expert{
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media i{
        margin-left: 0px;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    .contact-us h2{
        width: 70%;
        text-align: center;
    }
    .contact-us p{
        width: 105%;
    }
    .perfil{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    .menu-nav{
        width: 65vw;
    }
    .icono{
        top: 20px;
        right: 20px;
    
    
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulos{
        font-size: 30px;
    }
    .perfil{
        width: 150%;
    }
    .social-media{
        width: 100%;
    }
    .contact-us{
        width: 90%;
    }

}